[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=com.spotify.Client
Exec=bash $HOME/.config/scripts/run-spotify
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
X-GNOME-UsesNotifications=true
X-Flatpak-Tags=proprietary;
X-Flatpak=com.spotify.Client
